* {
    font-family: 'Roboto', sans-serif;
    color:darkorange;
    font-size:1.2rem;
}



body {
    margin: 0;
    padding: 0;
    background-image:url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1);
    object-fit: cover;
    background-repeat: no-repeat;
    object-position: 100% 100%;
}

h1, h2 {
    font-family: 'Orelega One', cursive;
 
}

h2 {
    margin: 0;
}

.content {
    min-height: 100vh;
    width: 1000px;
    max-width: 90%;
    margin: auto;
    margin-top: 10%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    object-fit:scale-down;
    padding: 0 24px;
}

.section {
    border-radius: 3px;
    width: fit-content;
    margin-bottom: 24px;
    background-color: #90e1ef00;
}

.row {
    display: flex;
    margin: 12px 24px;
    line-height: 24px;
    text-align: center;
    justify-content: space-between;
}

.row div {
    flex: 1;
}

label {
    margin-right: 12px;
}

input {
    width: 300px;
    justify-self: flex-end;
    font-size: 14px;
    height: 24px;
    background-color: #2bbcff;
    color:black;
    outline: none;
    border: none;
    padding: 3px 6px;
    border-radius: 3px;;
}

button {
    background-color: #005279;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 6px 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

button:hover {
    box-shadow: 0 0 20px #caf0f8;
}

.headers{
    color:rgb(251, 255, 193);
    font-size:1.6rem;
}




/* stuff I'm changing */

 #results{
    display:none; 
}  
*{
    color:darkorange;
}
.inner-text{
    color:red;
}
a{
    color:blue;
}
@media only screen and (max-width: 600px){
    .row{
        display: flex;
        flex-direction: column;
    }


}


